.profile__add-button {
  border: 0;
  padding: 25px 75px;
  background: url(../../../images/Add-Button.svg) no-repeat center;
  justify-self: end;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.7s ease;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    padding: 25px 141px;
    grid-row: 3;
    background: url(../../../images/Add-Button_mini.svg);
    justify-self: center;
  }
}
