.profile__profession {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  grid-column: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 294px;
}

@media screen and (max-width: 700px) {
  .profile__profession {
    font-size: 14px;
    max-width: 190px;
  }
}
